@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: running;
}

.logo-scroll-container {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.text-shadow-orange-light:hover {
  text-shadow: 3px 3px 3px rgba(251, 146, 60, 0.5);
}
